body {
    font-family: Arial,Helvetica,freesans,sans-serif;
    background-color: lightgrey;
    margin: 0 0 64px;
}

.newspaper-title {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    display: flex;
    justify-content: space-around
}

.newspaper-title .title-text {
    max-width: 800px;
    flex-grow: 1;
    padding: 24px 0 32px;
}

.story-wrapper {
    display: flex;
    justify-content: space-around
}

.main-story, .side-stories {
    max-width: 800px;
    flex-grow: 1;
}

.main-story, .side-story {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-story {
    margin: 16px 0 32px;
}

.main-story .headline {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 8px 16px;
}

.story-text {
    padding: 8px 8px 16px;
}

.news-image {
    object-fit: cover;
}

.side-stories {
    display: flex;
}

.side-story +.side-story {
    margin-left: 16px;
}

.side-story {
    width: 392px;
}

.side-story .headline {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.side-story .news-image {
    height: 250px;
}
